@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52334.jpg?t=st=1726242547~exp=1726246147~hmac=b601aa6943fa779f5598596c751d0c9f63da15140ad9a5e9d84b75c98f895319&w=1380');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}